<launch>

    <!-- <arg name="model"  default="$(find gpu_voxel_planning)/urdf/victor_right_arm_only.urdf.xacro"/> -->
    <arg name="model"  default="$(find gpu_voxel_models)/urdf/victor.urdf.xacro"/>

    <include file="$(find victor_hardware_interface)/launch/dual_arm_lcm_bridge.launch">
      <arg name="model" value="$(arg model)"/>
    </include>

</launch>
